{% assign bundle = product.metafields.custom.product_budle.value%}

{% if bundle != blank %}

    {%- assign bundle_products = bundle.fields.bundle_products.value -%}
    {%- assign discount_label = bundle.fields.bundle_discount.value -%}
    {%- assign bundle_title = bundle.fields.heading.value -%}

    <div class = 'product-bundle' id = 'product-bundle'>
<div class = 'product-bundle__header'>
<h3 class="product-bundle__title"> {{bundle_title}}</h3>
{% if discount_label != blank  %}
    <span class="product-bundle__badge">{{discount_label}}</span>
{% endif %}

</div>
<div class="product-bundle__products">
{% for bp in bundle_products %}
    <div class = "product-bundle__item">

    {% if bp.featured_image %}
<a href="{{bp.url}}">
    <img 
src="{{ bp.featured_image | image_url: width: 120 }}"
                alt="{{ bp.featured_image.alt | escape }}"
                width="120"
                height="120"
                loading="lazy"
              ></a>

        {% endif %}
       
           <div class="product-bundle__item-info">
            <a href="{{ bp.url }}" class="product-bundle__item-title">
              {{ bp.title }}
            </a>
            <span class="product-bundle__item-price">
              {{ bp.price_min | money }}
            </span>
          </div>
           <div class="product-bundle__item-action">
            {% if bp.available %}
              <form action="/cart/add" method="post">
                <input type="hidden" name="id" value="{{ bp.selected_or_first_available_variant.id }}">
                <input type="hidden" name="quantity" value="1">
                <button type="submit" class="product-bundle__add-btn">
                  Add to Cart
                </button>
              </form>
            {% else %}
              <span class="product-bundle__sold-out">Sold Out</span>
            {% endif %}
          </div>

    <div class="product-bundle__footer">
      <button
        class="product-bundle__add-all-btn"
        data-bundle-add-all
      >
        Add All to Cart
      </button>
    </div>
    </div>
    {% endfor %}

</div>
    </div>
    {%endif%}